.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.primary {
    color: white;
    background-color: #7653fc;
}

.primary:hover {
    color: white;
    background-color: #482ac1;
}

.ghost {
    color: black;
    border: 1px solid gray;
    background: none;
}

.ghost:hover {
    background-color: #8080805b;
}