:root {
	--font-family: 'Roboto', sans-serif;
	--black: #3b434e;
	--gray-light: #aeaeae;
	--gray: #a4a4a4;
	--gray-dark: #787d85;
	--white: rgb(245, 245, 204);
	--primary: #140342;
	--primary-hover: #08011a;
	--red: #fc836d;
	--red-light: #d18476;
	--green: #1dc37e;
	--green-light: #c8f8e4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
